<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311138668281-jnp6g3751c6c4vfvk85maln5fm5hvvqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311138668281-jnp6g3751c6c4vfvk85maln5fm5hvvqs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>311138668281-eaepkngscf484ob7kblcl4k6r6rt6evv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsL-EIEx8UsDOEovwtftUA_fSmhrhbcTc</string>
	<key>GCM_SENDER_ID</key>
	<string>311138668281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solarvitadev.solarvita</string>
	<key>PROJECT_ID</key>
	<string>grooves-app</string>
	<key>STORAGE_BUCKET</key>
	<string>grooves-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311138668281:ios:9049ad18ef59525c011c28</string>
</dict>
</plist>